<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Login</a>
        </li> &nbsp;&nbsp;
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="registration" routerLinkActive="active">Registration</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="file" routerLinkActive="active">File upload</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="userlist" routerLinkActive="active">User List</a>
        </li>
      </ul>
    </div>
  </div><br>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>